// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main CSS
html, body {
    background-color: #ab5c03;
    color: #fb9118;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

//.top-left {
//    position: absolute;
//    left: 10px;
//    top: 18px;
//}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fb9118;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

// Footer CSS

footer {
  background-color: #38230a;
  color: #fb9118;
}

// Background Images
.background-img {
  background-image: url("public/assets/img/cooking-ingredients-with-avocado-mushrooms-eggs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img-1 {
  background-image: url("public/assets/img/food-homemade-dinner-party.jpg");
}

.background-img-2 {
  background-image: url("public/assets/img/food-cooking-baking-kitchen.jpg");
}

.background-img-3 {
  background-image: url("public/assets/img/breakfast-4250077_960_720.jpg");
}

.background-img-4 {
  background-image: url("public/assets/img/Breakfast.jpg");
}